DB_USER=your_username
DB_PASS=your_password

MY_SECRET_KEY=your_secret_key
ALGORITHM=your_algorithm

MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password
MAIL_FROM=your_email
MAIL_PORT=your_port
MAIL_SERVER=your_server

CLOUDINARY_URL=cloudinary:your_url

